
 #control-section{
    
}
#view-section{
    
} 
body{
    
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    top:100px;
}
span{
    margin: 3px;
}

.marker{
    background-color: yellow;
    align-items: center;
}

ul*{
    display: block;
    width: 200px;
    text-align: center;

}
.icon1{
    list-style: url('https://image.flaticon.com/icons/png/128/86/86576.png');
    
}
.icon2{
    list-style: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbqSn0ZMCQm0g9WFClxUmVXXK4nafbo34W6g&usqp=CAU');
    
}

.icon3{
    list-style: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuYwr93mHJI0r-Gpa72j14ZvxALQaTvvgt3g&usqp=CAU");
    
}
.chosen{
    border: springgreen solid;
    padding: 2px;
    background-color: steelblue;
}
img{
margin: 10px;
width: 100px;
}
#todo-container *{
    display: block;
    margin-top: 20px;
}
