
 #control-section{
    
}
#view-section{
    
} 
body{
    
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    top:100px;
}
span{
    margin: 3px;
}

.marker{
    background-color: yellow;
    align-items: center;
}

ul*{
    display: block;
    width: 200px;
    text-align: center;

}
.icon1{
    list-style: url('https://image.flaticon.com/icons/png/128/86/86576.png');
    
}
.icon2{
    list-style: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbqSn0ZMCQm0g9WFClxUmVXXK4nafbo34W6g&usqp=CAU');
    
}



.icon3{
    list-style: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuYwr93mHJI0r-Gpa72j14ZvxALQaTvvgt3g&usqp=CAU");
    
}


.chosen{
    border: springgreen solid;
    padding: 2px;
}


img{
margin: 10px;
}











/* 
#todo-created-at{
    display: inline-block

}
#todo-text{
    display: inline-block
}
#todo-priority{
    display: inline-block */
 }
#todo-container *{
    display: block;
    margin-top: 20px;
}
/* const listItem = newElement( "li" , "list-item" , "" , list); */
/* const todoContainer = newElement( "div" , "todo-container" , "" , listItem);
const createdAt = newElement( "div" , "todo-created-at" , obj.date , todoContainer);
const todoText = newElement( "div" , "todo-text" , obj.text , todoContainer);
const priority = newElement( "div" , "todo-priority" , obj.priority , todoContainer);
const deletButton = newElement( "button" , "delete" , "delete" ,todoContainer); //new button-pass the test
const markButton = newElement( "button" , "mark" , "mark" ,todoContainer); //new button-pass the test
deletButton.addEventListener("click" , deleting ); //n
markButton.addEventListener("click" , marking ); //n
} */ */




/* const listItem = newElement( "li" , "list-item" , "" , list);//+
const todoContainer = newElement( "div" , "todo-container" , "" , listItem);
const createdAt = newElement( "div" , "todo-created-at" , obj.date , todoContainer);
const todoText = newElement( "div" , "todo-text" , obj.text , todoContainer);
const priority = newElement( "div" , "todo-priority" , obj.priority , todoContainer);
const deletButton = newElement( "button" , "delete" , "delete" ,todoContainer); //new button-pass the test
const markButton = newElement( "button" , "mark" , "mark" ,todoContainer); //new button-pass the test
deletButton.addEventListener("click" , deleting ); //n
markButton.addEventListener("click" , marking ); //n




const listItem = newElement( "li" , "list-item" , "" , list);
const todoContainer = newElement( "div" , "todo-container" , "" ,  listItem);
const createdAt = newElement( "div" , "todo-created-at" , new Date().toLocaleString().replace('.', '-').replace('.', '-').replace(',', ' ') , todoContainer);
const todoText = newElement( "div" , "todo-text" , input.value , todoContainer);
const priority = newElement( "div" , "todo-priority" , priorityNum.value , todoContainer); //num
const deletButton = newElement( "button" , "delete" , "delete" ,todoContainer); //new button-pass the test
const markButton = newElement( "button" , "mark" , "mark" ,todoContainer); //new button-pass the test
deletButton.addEventListener("click" , deleting ); //n
markButton.addEventListener("click" , marking ); //n
console.log(todoContainer.innerHTML);



                const listItem = newElement( "li" , "list-item" , "" , list);
                const todoContainer = newElement( "div" , "todo-container" , "" , listItem);
                const createdAt = newElement( "div" , "todo-created-at" , obj.date , todoContainer);
                const todoText = newElement( "div" , "todo-text" , obj.text , todoContainer);
                const priority = newElement( "div" , "todo-priority" , obj.priority , todoContainer);
                const deletButton = newElement( "button" , "delete" , "delete" ,todoContainer); //new button-pass the test
                const markButton = newElement( "button" , "mark" , "mark" ,todoContainer); //new button-pass the test
                deletButton.addEventListener("click" , deleting ); //n
                markButton.addEventListener("click" , marking ); //n */